<div class="container">

  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <h3>Create a new Panda</h3>

  <form class="" action="/pandas" method="post">
    <label for="panda_name">Name</label>
    <input type="text" id="panda_name" name="panda[name]" value="">

    <label for="home_town">Home Town <span>(*optional)</span></label>
    <input type="text" id="home_town" name="panda[home_town]" >

    <input type="submit" value="Add">
  </form>
</div>
